<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>AngularFlask</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.31d6cfe0d16ae931b73c.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.326531a97fe28583ea15.js" defer></script><script src="polyfills.860e7a2897d13ee05fed.js" defer></script><script src="main.7921c19ea6eb8f25045d.js" defer></script>

</body></html>